<h1>Add Stories</h1>

<div class="row">
    <form action="/stories" method="post" class="col s12">
        <div class="row">
            <div class="input-firld">
                <input type="text" name="title">
                <label for="title">Title</label>
            </div>
        </div>
            <div class="input-firld">
                <select name="status">
                    <option value="public" selected>public</option>
                    <option value="private">private</option>
                    <option value="unpublished">unpublished</option>
                </select>
                <label for="title">Status</label>
            </div>

            <div class="row">
                <p>
                    <input type="checkbox" name="allowComments" class="filled-in" id="filled-in-box" checked="checked">
                    <label for="allowComments">Allow Comments</label>
                </p>
            </div>


    <div class="row">
    <form action="/stories" method="post" class="col s12">
        <div class="row">
            <div class="input-firld">
                <h5>Tell us your story</h5>
                <textarea name="body"></textarea>
                
            </div>
        </div>
        <input type="submit" value="Save" class="btn">
    </form>
</div>